// COLORS

$color-white: #fff;
$color-primary: #27ae60;
$color-linkedin: #3b5998;
$color-github: #e67e22;

$color-focus: #3d4449;
$color-focus-1: #6d777e;

$color-default-font: #363636;
$color-foot-font: #eee;

$color-box-shadow: rgba(0, 0, 0, 0.15);

$color-white-grey: rgb(245, 245, 245);
